<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${title}">Page Title</title>
</head>

<body>
    <h2> Thong tin sinh vien</h2>
    <ul th:object="${student}">
        <li th:text="*{#strings.capitalizeWords(fullName)}">Ho ten: </li>
        <li th:text="*{gender ? 'Nam' : 'Nu'}">Gioi tinh: </li>
        <li th:text="*{dateOfBirth}">Ngay sinh: </li>
        <li th:text="*{averageScore}"> Diem trung binh</li>
        <li th:text="*{image}">Anh </li>
        <li th:text="${session.var1}"> Session</li>
        <th:block th:if="*{averageScore} > 8">
            <li>Hoc sinh gioi</li>
        </th:block>
        <th:block th:if="*{averageScore} < 5">
            <li>Hoc sinh yeu</li>
        </th:block>
    </ul>
</body>

</html>